<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="product-display">
        <div
          v-for="(product, index) in products"
          :key="index"
          class="product-container"
        >
          <div class="product-image">
            <img v-bind:src="product.image" />
          </div>
          <div class="product-info">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p><strong>{{product.price}}€</strong></p>
            <p v-if="product.onSale == true"><strong>On Sale</strong></p>
            <button
              v-if="product.onSale ==true"
              v-on:click="product.changeStock()"
              :disabled="product.stock === 0"
              :class="{ disabledButton: product.stock=== 0 }"
            >
              <p v-if="product.stock > 10">In stock</p>
              <p v-else-if="product.stock <= 10 && product.stock > 0">
                Almost sold out!
              </p>
            </button>
            <p v-else>Out of stock</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
